<div class="container">
    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">VIP MEMBERS </h5>
    <p class="card-text">{{ name }}</p>
    <a href="/users/logout" class="btn btn-primary">Fuck Off</a>
  </div>
</div>
</div>