      <br>
      <br>
      <div class="container">
        <div class="jumbotron">
            <h2 class="display-2">Hello, world!</h2>
            <p class="lead display-5 text-muted">This is a simple node authentication broiler plate, an open source resource, where we can build projects on.</p>
            <hr class="my-4">
            <h5> It utilizes various top notch authentication modules, packages and dependencies. &nbsp; &nbsp;
                
                
                    <a class="btn btn-dark btn-lg" href="/users/register" role="button">REGISTER</a> &nbsp; / &nbsp;
                    <a class="btn btn-dark btn-lg" href="/users/login" role="button">LOGIN</a>
                
            </h5>
            <br>
            

          </div>
      </div>